@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Didact+Gothic');
@import "mediaAv.css" screen;
@import "header.css" screen;
@import "mainWindow.css" screen;
@import "modalWindow.css" screen;
@import "bitcoin.css" screen;
@import "menuAndCounters.css" screen;
@import "menuLinks.css" screen;
@import "minnerviniCountChart.css" screen;
@import "linkToStorage.css" screen;
@import "whatelse.css" screen;
@import "weatherBlock.css" screen;
@import "footer.css" screen;


body
{
/*    font-family: "Roboto","Helvetica","Helvetica Neue",  "Arial";
sans-serif;*/
box-sizing: border-box;
margin: 0;
padding: 0;
background-image: url(D:/programming/java/mySite/img/techno-bg-op1.png) ;

}
section
{
height: 60rem;
padding: 1rem;
}
.main{
padding: 1rem;
}

/*flexes------*/
.flex{
display: flex;
flex-wrap: wrap;
}
.flex-nowrap{
flex-wrap: nowrap;
}
.flex-align-center{
align-items: center;
}

.flex-space-between
{
justify-content: space-between;
    
}
.flex-dir-col{
flex-direction: column;
}

/*------*/
.ta-center{
text-align: center;
}
.title{
padding: 4.5rem ;
}
.white{
color: #eee;
}
.clear
{
clear: both;
}

h3,h5
{
/*font-size: 1.4rem;*/
}

p
{
margin: 1.5rem 1.7rem 1.7rem;
}
button{
font-size: 1rem;

width: 9.4rem;
margin: 1.7rem 0 .4rem 2.4rem;
padding: 1rem;

cursor: pointer;
transition: .4s ease-in-out;

border: none;
border-radius: .15rem;
box-shadow: inset 0 -.3rem 0 #40382d;
}
a{
text-decoration: none;

color: #444;
}
a:hover
{
color: black;
/*text-decoration: underline;*/
/*border-bottom: 1px solid #ff6a00ff;*/
border-bottom: 1px solid #35c;
}


.back
{
position: fixed;
top: 90%;
left: calc(100vw - 500px)/2);

margin:2rem; 
}
.back a{
color: #ff6a00;
cursor: pointer;
}


.btn-big{
padding: 1.6rem;
color: #2953CCFF;

}

