.linksandcalc {
    position:  relative;
    background-color: rgba(251,251,251);
    margin: 0;
}
.linksandcalc__modalCalc {
        position: relative;
        display: none;
    
    top:0;
    left: 0;

    width: 15rem;
    height: 10rem;

    text-align: left;
    color: #222;
    background-color:  rgba(170,218,255,0.3); 
    padding: 2rem;
}
.linksandcalc__block-modal-close{
top:8%;
left: 88%;
}

.linksandcalc__container-calc{
    display: flex;
    flex-direction: row
    justify-content: space-between; 
}
.linksandcalc__calc {

    flex-basis: 15%;
}
.linksandcalc__nums {
        display: flex;
    flex-direction: column;
    align-items: center;
    width: 15.625rem;
    height: 40vh;
    padding: 1rem;
}
.tocount {
        margin-top: 0.4rem;

}
.makeCount {
}



