.contacts {
background: #eee;
margin:  4rem 0 0 0;
}
.contacts__container {
display: flex;
flex-direction: row;
flex-wrap: nowrap;

width: 100%;
max-height: 45rem;
margin:  0 0 4rem 0;
overflow: hidden;
}
.contacts__picture {
margin:  2rem 4rem 2rem 2rem;

height: 45rem;

flex: 1 1 70%;
background: url("../img/monteverdi/01 - front.jpg") 0 0  / 90% ;
}

.contacts__form-container {
height: 50rem;
flex: 1 1 30%;
}
.contacts__form{
	padding:  0;
}
.contacts__review{
	width: 35rem;
margin-bottom: 4rem;
}
.contacts__form-container form *{
margin-bottom: 1rem;
}
.contacts__form-container form{
display: flex;
flex-direction: column;
}
.contacts__form-container textarea{
width: 50%;
margin-bottom: 2rem;
}
.contacts__input{
width: 50%;
}
.contacts__button{
margin: 0;
}

