.contacts {
background: #eee;
margin:  4rem 0 0 0;
}
.contacts__container {
display: flex;
flex-direction: row;
flex-wrap: nowrap;

width: 100%;
max-height: 45rem;
margin:  0 0 4rem 0;
overflow: hidden;
}
.contacts__picture {
margin:  2rem 4rem 2rem 2rem;

height: 45rem;

flex: 1 1 70%;
background: url("../img/monteverdi/folder.jpg") 30% 0%  /  100%  no-repeat;
background-position: cover;
}

.contacts__form-container {
height: 50rem;
flex: 1 1 30%;
}
.contacts__form{
	padding:  0;
}
.contacts__review{
	width: 35rem;
margin-bottom: 4rem;
}
.contacts__form-container form *{
margin-bottom: .5rem;
}
.contacts__form-container form{
display: flex;
flex-direction: column;
}
.contacts__form-container textarea{
width: 50%;
margin-bottom: 2rem;
}
.contacts__input-pair{
	position: relative;
width: 70%;
}
.contacts__input{
	position: relative;
width: 70%;
}
.contacts__input-span{
	position: absolute;
	left: 80%;
	top: 0%;
display: none;
}
.contacts__button{
	width: 8.7rem;
margin: 0;
}

