footer
{
  height: 20rem;
  max-height: 20rem;
  background-color: #010120FF;
  padding:  2rem;
}
.footer__logo{
    float: left;

    height: 100vh;
    margin: 0;
    /*padding: 1rem 0 0 1rem;*/

}
.footer__info {
  margin: 0;
  /*float: left;*/
  color: #ddd;
  padding:0;

}

.footer__info a{
 margin: 0;
 color: #ddd;
}

.footer__info p{
  font-size: .9rem;
  margin:0;
  margin-bottom: 0.8rem;
}
.footer__info a:hover{
  color: #F67908;
}

.footer__socials {
  margin: 0;
  padding:  0 1.5rem 0 0;
}

.footer__item
{
  font-size: .9rem;

  margin: 0;
  display: inline-block;
  padding-right:2rem ;
  cursor: pointer;

}

.back
{
position: fixed;
top: 88%;
left: calc(100vw - 500px)/2);

margin:2rem; 
}

.back a{
color: #ff6a00;
cursor: pointer;
}

