footer
{
  height: 20rem;
  background-color: #010120FF;
  padding:  1.5rem;
}
.footer__logo{
    float: left;

}
.footer__info {
  margin: 1.5rem;
  float: left;
  color: #ddd;
  padding: 1rem;

}

.footer__info a{
 margin: 0;
 color: #ddd;
}

.footer__info p{
  font-size: .9rem;
  margin:0;
  margin-bottom: 0.8rem;
}
.footer__info a:hover{
  color: #3e66ae;
}

.footer__socials {
  padding:  0 1.5rem 0 0;
}

.footer__socials li
{
    font-size: .9rem;

  margin: 0;
  display: inline-block;
  padding-right:2rem ;
  cursor: pointer;

}
