.frontpage
{
     /*background: url("img/mycover1.jpg"),url("img/flowerBlue_only.png")0 0 /30% no-repeat;*/
    height: 100vh;
    filter: blur(2px);
         /*contain ,*/
     background:   url("../img/flowerBlue_only.png")0 110%/ 35% no-repeat, url("../img/techno-bg-op1.png") no-repeat ;
}
/*d:/programming/java/average/img/mycover1.jpg*/
/*D:/programming/java/mySite/img/flowerBlue_only.png*/
.frontpage__block
{
    position: relative;

    width: 100%;
    height: 100vh;
   
}
.frontpage__title
{
    font-size: 5rem;
}
.frontpage__subtitle
{
    font-size: 2.5rem;
}


/*.frontpage__block button{

    font-size: 1.2rem;
}*/
/*.frontpage__block button:hover
{
    font-size: 1.25rem;
} 
*/


