.frontpage
{
 
    height: 100vh;
    filter: blur(2px);
}

.frontpage__block
{
    position: relative;

    width: 100%;
    height: 100vh;
    /*background-image: url(d:/programming/java/average/img/mycover1.jpg);*/
    /*background-image: url(D:/programming/java/mySite/img/bg.jpg);*/
    background-image: url(D:/programming/java/mySite/img/flowerBlue_only.png);
    background-position: -98% -10%;
    background-repeat: no-repeat;
}
.frontpage__title
{
    font-size: 5rem;
}
.frontpage__subtitle
{
    font-size: 2.5rem;
}


/*.frontpage__block button{

    font-size: 1.2rem;
}*/
/*.frontpage__block button:hover
{
    font-size: 1.25rem;
} 
*/


