
.header
{
    height: 7rem;
    padding: .5rem .5rem 0.5rem 0.2rem;
    margin-bottom: 2rem;

    color: #ddd;
    background-color: #F67908;
    padding:  0 1.5rem;
}



.header__form
{
    width:30%;
    height: 80px;
    margin:0;
    padding: 1rem;
}
.header__form label
{
 margin: auto;
}

 .header__logo{
    position: relative;
    float: left;
 }  
   


.header__search{
    color: #999;
    background-color: #f0f0f0;
    border-style: none;
    margin: auto 1rem;
    padding: 0.5rem;
    border-radius: 2px;
}

.header__button{
    width: 2.7em;
    margin: auto;
    box-shadow: none;
    border-style: none;
    border-radius: 2px;
    padding: 0.45rem;

}
.header__nav-block{

     width:70%;
}

.header__list{
    position: relative;
    float: right;
}

.header__item{
    font-size: 1.2rem;

    display: inline-block;

    padding: .4rem 1rem;

    cursor: pointer;
}

