.storage
{
    background-color: #35c;
    color: #ccc;
}
.storage__container
{
    margin: 0 auto;
    width: 50%;
}
.storage__note{
    width: 100%;
    background-color: red;

}
.storage__input{
    /*width: 100%;*/
}


/* buttons styles*/

/*.storage__but-list  {
    width: 55rem;
    margin: 0 0 0 2rem;
    /*padding: 0;*/
/*}
.storage__but-list button {
    margin: 0.3rem 1.6rem 1rem 0;
    width: 11rem;
    height: 2.3em;
    font-size: 1em;
    padding: 0.1em;
    box-shadow: none;
    cursor: pointer;
}*/
/*.storage__but-list button:hover {
    /*background: #ccc;
    transition: .4s ease-in-out;
    border: none;
    border-radius: .15rem;
    box-shadow: inset 0 -0.3rem 0 #40382d;
    color: #decda5;
    box-shadow: inset 0 -3.75em 0 #40382d, .125rem .225rem .388rem rgba(0,0,0,.5);
}
*/
.storage__but-list{
    display: flex;
    background-color: blue;
    /*padding: 0 2rem;*/
    /*width: 47rem;*/
    width: 100%;
}
.storage__but-list-item{

    margin-right: 2.5rem;
    width: 9rem;
    height: 1.7rem
}

.storage__check{
     display: none;
     background: #f2f3f4;
     /*box-sizing: border-box;*/

    /*padding: 2rem;*/
    /*width: 47rem;*/
    /*margin: 2rem 2rem;*/
}
.storage__length-title{

    height: 3rem;
    background: #f2f3f4;

}
.storage__length-title span {
    margin-left: 1rem;
}
.storage__info-box{
    background:#f2f3f4;
    width: 100%;
    height: 20rem; 

    position: relative;

}

.storage__text{
   overflow: hidden;

    width: 100%;
    height: 15rem;

    font-size: 1rem;
    color: black;

}
.storage__close {
    position: absolute;
    top: 0;
    left: 43rem;

}
