.earningCount{
    margin: 2rem;
    padding: 2rem;
    display: flex;
    justify-content:space-around; 
}

#can{   

    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

#myChart{
    width:40rem;
    margin: 0 2rem 0 2rem;
    background-color: #aadaff;
    opacity: 0.5
}
.myChart-controls{
    width:40rem;
    margin: 1rem 0 0 2rem
}

.myChart-controls input{
    
    padding-right: 2rem;
    margin-right: 1rem;
}

.myChart-controls-box{
    margin: 2rem 1.5rem 1.5rem 0;
}
#getCount, #getCountSingle{
    width:7rem;
    cursor: pointer;
}
