.frontpage__block-modal
{
    display: none;
    position: absolute;
    top: 0%;
    left: 59%;

    color: #ccc;
    background-color:  #35c;

    width: 40rem;
    height: 100vh;

    overflow: scroll;
}
.frontpage__block-modal *{
    margin: 0 0 1rem 0; 
}

.frontpage__block-modal-close
{
    position: absolute;
    top: 6%;
    left: 86%;

}
