.frontpage__block{
    position: relative;
    padding:0;

}

.frontpage__block-modal
{
    
    top: 0px;
    left: 59%;

    color: #ccc;
    background-color:  #35c;

    width: 40rem;
    height: 100vh;
    margin: 0;
    padding: 3.5rem;

    overflow: scroll;
}
.frontpage__block-modal *{
    margin: 0 0 2rem 0; 
}

.frontpage__block-modal-close
{
    top: 5%;
    left: 91%;
}
