.showcase {
	background-color: rgba(197, 214, 40, .5);
    padding: 2rem;
    margin: 0;
}
.trade__title {
}

.showcase__container {
    padding: 0 2rem;
    width: 100%;
}
/*.showcase__block-outer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}*/
.showcase__block-outer h6{
    margin: 0 0 0 0;
    flex-basis: 19%;
}
.showcase__block-nav {
    margin: 0 0 2rem 0;
    padding: 0;
    width:80%;
}
.showcase__topmenu {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    list-style: none;
    height: 4rem;
}

.showcase__down {
	position: relative;
    /*display: inline-block;*/
    width: 9rem;

    margin: 0;

    text-align: center;
    /*background-color: rgba(255, 106, 0, .4);*/
}
.showcase__down:after
{
    font-family: fontAwesome;
        margin-left: .5rem;

    content: ' \f107';
}
.showcase__down:hover .showcase__down-submenu{
    transform: perspective(600px);
    /*visibility: visible;*/
    opacity: 1;
}
.showcase__down-submenu {
    position: absolute;

    top: 31px;
    left: 0;

    width: 9rem;
    padding: .35rem 0 .6rem 0;

    cursor: pointer;
    list-style: none;

    transition: .2s ease-in-out;
    transform-origin: 0 0;


    opacity: 0;
    color: #fff;
    background: rgba(64,56,45,.7);
/*     visibility: hidden;
    opacity: 0.2;
    z-index: 5;*/

/*    transform: translate(-50%, 20px);
    transform: perspective(600px) rotateX(-90deg);*/
}
#showcase__links
{
    
    height: 40em;
    display: flex;
    flex-direction:row;

    overflow: hidden;
}
.showcase__down-el{
}


.link {
     display: none;

     /*margin-right: .8rem;*/
     /*padding: 2rem 1.25rem;*/

     flex: 0 1 33.333%;
}
.visible {
     display: block;
}
