.trade {
	background-color: rgb(170,218,255,0.5)	;
}
.trade__title{
	
}
.trade__container {
		display: flex;
		
}
.trade__container h5{
	margin: 0 0 2rem 0;
}

.trade__calc {

	flex: 0 1 15%;
	height:  41rem;
}

.trade__block-inputs {
}
.trade__input {
}
.tocount {
}
.trade__count {
}
.trade__modal-parent{
position: relative;
}
.trade__modalCalc {
    background-color:  rgba(170,218,255,0.7);

	width: 18rem;
	height: 15rem;
	padding: 2rem;
}
.trade__calc-output {

}

.trade__block-modal-close {
	top: 10%;
	left: 82%;
}
.trade__bitcoin {
	flex:  0 1 25%;
	height: 41rem;

	display: flex;
	flex-direction: column;

	margin: 0 4rem 0 0;
}
.trade__button{
margin: 0 0 2rem 0;
}
.trade__bitcoin-item{
	  /*width:9rem;*/
	margin: 0 0 2rem 0;

}
.trade__bitcoin-item span{
	 font-weight: bold;
}

.trade__article{
	flex:  0 1 50%;
	height: 41rem;
	/*padding: 0 2rem 2rem 2rem;*/

}
.trade__article-image{
	height: 10rem;
}
.trade__article-image img{
	transition: 1s;
	width: 42rem;
}
.trade__article-image img:hover{
	transform: translateX(-10rem) translateY(-10rem);
	transition: 3s;
	width: 150rem;
}
.trade__title-text{
	margin: 0 0 2rem 0;
}
.trade__title-text p{
	margin: 0 0 1rem 0;
}