.mapsWeather{
    background: #E0EAFAFF;
}
.mapsWeather__container{
    display: flex;
    height: 60rem;
    margin: 0 2rem 2rem 2rem;
}
.mapsWeather__info{
    height: 60rem;
    overflow: auto;
}
.mapWeather__info-title{
margin-left: 2rem;
}

.mapsWeather__info input {
    margin:  1rem;
}
.mapsWeather__conditions{
display: flex;
flex-wrap: wrap;
align-items: center;
}
.mapsWeather__show{

  padding: 0;
  margin:0 0 2rem 0;
}

.mapsWeather__item-data{
width: 50%;
/*border: 1px solid rgba(0,170,255,0.2);*/
margin: 0 -20px 2rem 0;
padding: 0 0 0 20px
}
.mapsWeather__item-data span{
    margin:0;
	font-weight: bold;
}

#mapsWeather__map{
    padding: 0;
    height: 40rem;
    flex: 0 1 50%;
}