.main-business{
	background-color: #aadaff;
	padding:  0 2rem 
}
.bz-block-row{
	box-sizing: border-box;
	min-width: 25rem;
	/*background: #eee;*/
	/*height: 100%;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 2rem;
}

.bz-block{
	box-sizing: border-box;
	background: #f2f3f4;
	/*min-width: 25rem;*/
	width: 31%;
	display: flex;
	flex-direction: column;
	padding: 3rem;

}
.bz-block-image{
	margin:1rem; 
	height: 10rem;
	text-align: center;
}
.bz-block > *{
	padding: 1.5rem;
	margin:0;
	text-align: center;

align-content: center;
}

.bz-block img{
	
	width:8rem;

}
.bz-block > h2,h3{
	padding: .5rem;
	margin:0;
	text-align: center;

}
.bz-block-text{

}
.td_module{
	margin: 0;
}

