body {
	font-family: "Roboto", sans-serif;
min-height: 100vh;
scroll-behavior: smooth;
text-rendering: optimizeSpeed;
line-height: 1.5;

font-family: "Roboto","Helvetica","Helvetica Neue",  "Arial" sans-serif;
margin: 0;
padding: 0;
background:url("../img/techno-bg-op1.png") 0 0 / 30% ;
}
/* Указываем box sizing */
.container
{
  padding: 0 2rem 2rem 2rem;
  max-height: 70%;
  max-width: 100%;
background-color: #888;
}

.mypost__data{
background-color: #ccc;
	width: 40%;
	margin: 0 auto;
}
.mypost__data  *{
	text-align: center;

	padding: 2rem 0 2rem 2rem;
}