/*---modal---*/
.modalBlock{
	display: none;
	background-color: #ff3;
    position: absolute;

}

/*---close-icon---*/
.closeIcon{
	position: absolute;

    font-size: 1rem;
    cursor: pointer;
}
.closeIcon img{
	width: 1.5rem;
}