<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>State</title>
	<link rel="stylesheet" href="../public/css/state_ejs.css">
</head>
<body>
	<section class="state">
		<div class="container state__container">
			<div class="state__data">
				<h2>STATE</h2>
				<p>Time: <b><%= ts %></b></p>
				<p>Last name: <b><%= lastname %></b></p>
			</div>
		</div>
	</section>
</body>
</html>